<link rel="stylesheet" href="css/main-page.css"/>
<link rel="stylesheet" href="css/main-page-media.css"/>
<div id="wall1" class="bg-img">
			<div class="head">
				<h1 class="heading">Project Magnifi</h1>
			</div>
</div>
<div class="content firstcontent">
		<div class="contain">
				<div class="mission">
					<hr/>
					<h2 class="">We aspire to inspire hope and contribute to health and well-being by providing the best care to every patient through integrated clinical practice, education and research.</h2>
					<hr/>
				</div>
		</div>
</div>
		<div id="wall2" class="bg-img">
		</div>
		<div class="content secondcontent">
			<h2 class="whatwedo">WHAT WE DO</h2>
			<hr/>
			<div class="row">
				<div class="purpose col-md-3">
					<img class="purposeimg" src="images/logo.png"/>
					<h4>AWARENESS</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
					<button href="#" class="more-btn">Learn more</button>
				</div>
				<div class="purpose col-md-3">
					<img class="purposeimg" src="images/helpline.png"/>
					<h4>HELPLINE</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
					<button href="#" class="more-btn">Learn more</button>
				</div>
				<div class="purpose col-md-3">
					<img class="purposeimg" src="images/logo.png"/>
					<h4>MEET UP</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
					<button href="#" class="more-btn">Learn more</button>
				</div>
				<div class="purpose col-md-3">
					<img class="purposeimg" src="images/research.png"/>
					<h4>RESEARCH</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
					<button href="#" class="more-btn">Learn more</button>
				</div>

			</div>
		</div>
		<div id="wall3" class="bg-img">
			<div class="containfinal">
				<div class="containphrase">
					<h1>Are you seeking help?<span class="tinttext"></span></h1>
				</div>
				<button href="#" class="more-btn about-btn">HELPLINE</button>
			</div>
		</div>

		<div class="content finalcontent">
			<hr>
		</div>
