#wall1{
	background-image:url('./../images/bg1.png');
}
#wall2{
	background-image:url('./../images/bg2.png');
	height:60vh;
}
#wall3{
	background-image:url('./../images/bg3.jpg');
	height:65vh;
}
.firstcontent{
	width:100vw;
	height:430px;
	padding:80px 100px;
}

.contain hr{
	height:2px;
	border:none;
	color: #e09462;
	background-color: #e09462;
}

