/* main colors


	text: bda696
block p: #e09462
left m: #a56d47
right m: #be7e53
top cube filling: #f9e5d8
left cube filling: #bda696
right cube filling:#e3cbbc
hexagon: #e1d1c5

*/



body{
	margin:0;
	font-family: 'Avenir Next';
	position: relative;
}
.content{
	padding:20px 30px;
	background-color:white;
}

/* Navigation */
.navbar{
	border-bottom:1px solid #bda696;
	height:100px;
	background-color: #f9e5d8;
	margin:0;
}
.container{
	margin:10px 20px;
	width:100%;
}
img.logo{
	width:65px;
	height:65px;
	margin-left:30px;
}


.navbar-collapse{
	margin-top:15px;

}
.navbar-nav{
	float:right;
	margin-right:80px;
	color:#bda696;
}
a.linknav{
	color:#a56d47 !important;

}
.navbar-header{
	height:100px;
	width: 80px;
}
a.navbar-brand{
	width:65px;
	height:65px;
	padding:0px;
	margin-top:8px;
}
.navbar-toggle{
	margin-top:23px;
	margin-right:30px;
	transform:scale(1.2,1.2);
}
.dropdown-menu{
	height:100px;
	padding:20px;
}
.dropdown-menu a{

	width:100%;
	text-align: center;
	font-size:15px;
}

/* Background */

.bg-img{
	position:relative;
	width:100%;
	height:100vh;
	background-attachment:fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


.head{
	margin-top:300px;
	position:absolute;
	background-color:#e09462;
}
h1.heading{
	padding:30px 50px;
	color:white;
	font-weight: 100;
	font-size:80px;
	width:100%;
	text-align: center;
}

/*  */


/* Content-Mission */

.mission{
	margin:30px 0;
	letter-spacing: 1px;
	height:100%;
	vertical-align: middle;
	display:table-cell;
}

/* Purposes */
.secondcontent{
	padding:40px 75px 80px 75px;
}
.secondcontent hr{
	margin-bottom:80px;
	height:1.5px;
	border:none;
	color: #e09462;
	background-color: #e09462;
}
h2.whatwedo{
	font-size:30px;
	margin-bottom:35px;
	width:100%;
	text-align: center;
}
.purpose{
	text-align:center;
	margin-bottom:50px;
}
.purposeimg{
	width:100px;
	height:100px;
	margin-bottom:20px;

}
.purpose h4{
	font-size:30px;
	font-weight: 600;
	margin-bottom:25px;
}
.more-btn{
	margin-top:20px;
	padding:15px 30px;
	background-color:white;
	color:black;
	font-size:15px;
	border:2px solid #e09462;
}
.more-btn:hover{
	transition: all 250ms ease-in-out;
	background-color:#e09462;
	color:white;
	border:2px solid #e09462;
}

/* Final content */
.finalcontent{
	height:500px;
	width:100%;
}
.containfinal{
	margin-top:calc(26vh - 30px);
	position:relative;
	display:inline-block;
	width:100%;
	height:100%;
	padding:0 50px;
}

.tinttext{
	position:absolute;
	z-index:-2;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:200%;
	margin:auto;
	background-color:#f9e5d8;
	opacity:0.7;
}
.containphrase h1{
	position:relative;
	display:block;
	margin:auto;
	z-index:2;
	font-weight:300;s
	font-size:50px;
	width:600px;
	text-align: center;
}
.about-btn{
	background-color:#e09462;
	border:1px solid #e09462;
	color:white;
	font-size:25px;
	padding:0;
	display:block;
	width:200px;
	height:75px;
	margin:auto;
	margin-top:80px;
}
.about-btn:hover{
	background-color:white;
	color:black;
	border:none;
}

/* Footer */



.footer{
	bottom:0;
	padding:20px;
	background-color:#e09462;
	width:100%;
	text-align: center;
	padding-top:40px;

}
h1.footerheading{
	font-weight: 200;
	font-size:60px;
	padding:0;
	margin:0;
}

.menu{
	padding-top:40px;
	padding-bottom:40px;
	border: 1px solid white;
	padding-left:50px;
}


.links{
	margin-top:60px;
}
.links a{
	color:white;
	font-size:18px;
	margin:20px;

}
.subscribe{
	color:white;
}
.subscribe h2{
	font-size:30px;
}
.subscribe p{
	margin-top:20px;
	font-size:12px;
}
.subscribe ul{
	padding:0;
}
.subscribe input{
	padding:10px 20px;
	border:1px solid #ececec;
	color:black;
	width:80%;
}
.subscribe li{
	margin:30px 0px;
	list-style: none;
}
.subscribe button{
	padding:12px 35px;
	color:black;
	border:1px solid white;
	background-color:white;
}
.subscribe button:hover{
	color:black;
	background-color:#f9e5d8;
	transition: all 250ms ease-in-out;
	border:none;
	border:1px solid #f9e5d8;
}
/* main colors


	text: bda696
block p: #e09462
left m: #a56d47
right m: #be7e53
top cube filling: #f9e5d8
left cube filling: #bda696
right cube filling:#e3cbbc
hexagon: #e1d1c5

*/

input:focus{
	outline:none;
}
.centeranchor{
	bottom:60px;
	right:0;
	left:0;
}
.copyright{
	margin-top:50px;
	margin-bottom:50px;
	position:relative;
	font-size:13px;
	color:white;
}

.footeritem-contain{
	padding:40px 30px;
}
.footer-desc{
	margin-top:20px;
	color:white;
	font-size:16px;
}

.footeritem .redirect{
	margin-top:25px;
	background-color:white;
	color:black;
	border:none;
	padding:12px 35px;
}
.footeritem .redirect:hover{
	color:black;
	background-color:#f9e5d8;
	transition: all 250ms ease-in-out;
	border:none;
}
.contain{
	height:100%;
	display:table;
}
.firstcontent{
	padding:10px 20px;
}

.mission h2{
	font-size:35px;
	font-weight:300;
	text-align: center;
}
.containphrase h1{
	font-size:30px;
	width:100%;
	padding:0;
}
.firstcontent > .contain hr{
	margin:35px;
}

/* Responsive */
@media(max-width:992px){
	.firstcontent{
    padding:10px 40px !important;
  }
	.mission h2{
		font-size:30px;
	}
/* 	footer */
	.subscribe input{
		width:50%;
	}
	.footeritem{
		margin:60px 0;
	}
	.footeritem-contain p{
		padding:0 25%;
	}
	.firstcontent{
		padding:10px 20px;
	}
	.secondcontent{
		padding:20px 30px;
	}
}
@media(max-width:600px){
	.head{
		width:100%;
	}
	.head h1{
		font-size:40px;
	}
	.mission h2{
		font-size:20px;
	}
	.menu{
		padding:40px 30px;
	}
	.menu h1{
		font-size:40px;
	}
	.links a{
		display: block;
		margin-top:20px;
		font-size:15px;
	}
	.subscribe input{
		width:70%;
	}
	.footeritem-contain p{
		padding:0 10%;
	}
	.containfinal{
		margin-top: calc(22vh - 30px);
		padding:0 20px;
	}
	.containphrase{
		font-size:28px;
	}
	.about-btn{
		font-size:22px;
	}

}
